$breakpoint-1: 640px;
$breakpoint-2: 1280px;
$min-width: 320px;
$unsupported-width: 319px;

$altura-menu-s: 44px;
$altura-menu-l: 80px;

$altura-logo-s: 24px;
$ancho-logo-s: 24px;

$margin-header-s: 0px 19px 0px 16px;
$margin-header-l: 0px 7vw;
$margin-title-s: 29px 19px 0px 16px;
$margin-title-l: 120px 14vw 0;
$margin-title-episodios-s: 64px 19px 0px 16px;
$margin-title-episodios-m: 125px 19px 0px 16px;
$margin-title-episodios-l: 186px 7vw 0px 14vw;
$margin-spotplay-s: 21px 11px 143.5px; 
$margin-spotplay-m: 21px 16px 190px; 
$margin-spotplay-l: 26px 7vw 232.6px;
$margin-venimos-s: -95.5px 16px 0;
$margin-venimos-m: -133px 14vw 0 7vw;
$margin-venimos-l: -168px 18vw 0 14vw;

$font-size-icono-mob-s: 16px;
$font-size-icono-mob-l: 36px;

$color-nav-l-normal: rgba(6,10,36,1);
$color-nav-l-hover: rgba(0,243,187,1);
$color-nav-l-active: rgba(6,10,36,0.56);

$color-dot: rgba(0,0,236,1);
$color-buttons: rgba(0,243,187,1);
$color-buttons-hover: rgba(255,255,255,1);

$padding-title-s: 10px;
$padding-title-l: 12px;

